.footer-nav {}

.footer-nav__items {
    display: flex;
    justify-content: flex-end;
    padding: 0 rem(112);
}

.footer-nav__item {
    &:not(:last-child) {
        margin-right: rem(63);
        @include mq('md') {
            margin-right: rem(65);
        }
    }
}

.footer-nav__link {
    display: inline-block;
    padding-bottom: rem(34);
    font-size: rem(18);
    &:hover {
        color: $red;
    }
    @include mq('md') {
        padding-bottom: rem(27);
    }
}