.wave {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave__svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 107px;
}

.wave-fill {
    fill: #FFFFFF;
}